
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    scroll-behavior: smooth;
}
body {

  scroll-behavior: smooth;
  overflow-x: hidden;
}
.navbar{
    box-shadow: 0 1px 1px #000;
    display: flex;
    justify-content: space-between;
    font-weight: 500;
    backdrop-filter: blur(20px);
    position: fixed;
}

    position: sticky;
    top: 0;
}
.e .navbar{
  position: fixed;
}
.icons{
    gap: 30px;
    position: relative;
    left: 190px;
 

}
.navbar-nav a{
    color: #000000;
}
.navbar .navbar-brand {
  font-size: 30px;
}
.navbar .nav-item {
  padding: 10px 20px;
}
.navbar .nav-link {
  font-size: 20px;
  margin-left: 10px;
}
.fa-bars {
  color: #000000;
  font-size: 30px;
}

.custom-h1 {
    font-size: calc(2rem + 3vw);
    font-weight: 700;
    margin-top: 50px;
}
.title-1{
    display: flex;
    justify-content: space-around;
}
.ms-n5 {
    margin-left: -40px;
}

.blog_list_page_img{
    width: 20vh;
    height: 15vh;
}
.scroll h3{
    font-weight: 700;
}
.one, .three {
    margin: 30px auto !important;
  }
  
  .scroll {
    overflow-y: auto;
  }
  /* ---------------------------- */
  
  /* ---------- True Code ---------- */
  
  .container-1{
    max-width: 1400px;
    margin: auto;
    
    &.two .card::after {
      content: '';
      width: 80px;
      height: 80px;
      background: #fff9d8;
      position: absolute;
      top: -30px;
      border-radius: 35%;
      left: -20px;
    }
     
    .grid-cards {
      display: flex;
      justify-content: center;
      flex: 1;
      max-width: 1024px;
      margin: 1rem auto;
      
      @media (max-width: 922px) and (min-width: 601px) {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
      }
      @media (max-width: 600px) {
        flex-direction: column;
      }
      
      .card {
        position: relative;
        flex: 1;

        padding: 1rem 1rem 1.5rem;
        box-shadow: 0 10px 25px rgba(0,0,0,0.08);
        border-radius: 1rem;
        min-height: 170px;
        margin: 15px;
        transition: all ease 0.3s;
        overflow: hidden;
        animation: fadeInLeft 1.5s backwards;
        
        &:nth-child(2){
          animation-delay: 0.15s;
        }
        &:nth-child(3){
          animation-delay: 0.2s;
        }
        &:nth-child(4){
          animation-delay: 0.3s;
        }
        
        &:hover {
         transform: translateY(-6px);
         -webkit-transform: translateY(-6px);
        }
        
        img {
          aspect-ratio: 500 / 320;
          
          width: 100%;
          border-radius: 12px;
          margin-bottom: 15px;
          position: relative;
          max-height: 320px;
          object-fit: cover;
          box-shadow: 0 6px 16px -7px #aaa;
        }
        
        .card-body {
          color: #676767;
          width: 100%;
          margin-bottom: 40px;
          padding: 0 0.8rem;
          position: relative;
          
          .icon {
            display: flex;
            width: 100%;
            text-align: left;
            padding: 15px 0;
            
            i {
              position: relative;
              font-size: 25px;
              transition: 0.5s;
              line-height: 0;
              top: -7px;
              left: -12px;
              z-index: 2;
              
              &::before {
                background: #FFD854;
                background-clip: border-box;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
              }
            }
            
            h3 {
              margin: -9px 0 0 20px;
            }
          }
          
          .title-card {
            text-align: center;
            padding-bottom: 10px;
          }
          
          p {
            font-size: 14px;
            line-height: 22px;
            font-weight: 300;
          }
        }
        
        .card-footer {
          display: flex;
          justify-content: flex-end;
          position: absolute;
          bottom: 0;
          width: calc(100% - 1rem);
          
          a {
            display: flex;
            justify-content: center;
            align-items: center;
            background: #000000;
            color: #fff;
            text-shadow: 0px 1px 5px rgba(0,0,0,0.08);
            font-size: 1rem;
            font-weight: 700;
            text-decoration: none;
            width: 56%;
            height: 40px;
            border-top-left-radius: 1rem;
            border-bottom-right-radius: 1rem;
            
            &:hover {
              filter: brightness(0.98);
            }
          }
        }
      }
    }
  }
  
  @keyframes fadeInLeft {
    0% {
      transform: translate(-100%,0);
    }
  
    100% {
        opacity: 1;
        transform: none;
    }
  }

/*  */
  .image-card-component {
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px 2px rgb(0 0 0 / 10%);
    transition: all 0.5s ease;
  
    .image {
      width: 300px;
      background: url('../images/blog_list_page\ img/MaskGroup (6).png');
      background-size: cover;
      background-position: center;
      border-radius: 8px 0 0 8px;
    }
    .image-1 {
        width: 300px;
        background: url('../images/blog_list_page\ img/Mask Group (7).png');
        background-size: cover;
        background-position: center;
        border-radius: 8px 0 0 8px;
      }
      .image-2 {
        width: 300px;
        background: url('../images/blog_list_page\ img/Mask Group (8).png');
        background-size: cover;
        background-position: center;
        border-radius: 8px 0 0 8px;
      }
  
    .content {
      display: flex;
      align-items: center;
      padding: 30px;
      flex: 1;
      box-sizing: border-box;
      font-family: 'Raleway', sans-serif;
  
      .cta {
        margin-left: auto;
        margin-right: 20px;
        min-width: 120px;
        background: #000000;
        padding: 10px;
        text-align: center;
        border-radius: 3px;
        color: #FFF;
        text-decoration: none;
        font-weight: 700;
        transition: all 0.5s ease;
  
        &:hover {
          background: #00695c;
          box-shadow: 0px 0px 6px 0px #4db6ac;
        }
      }
  
      .content-text {
        margin-right: 60px;
      }
  
      h4 {
        margin: 0 0 15px;
        font-size: 30px;
        line-height: 34px;
        font-weight: 700;
        color: #111;
        transition: all 0.5s ease;
      }
  
      p {
        margin: 0;
        font-size: 14px;
        line-height: 20px;
        color: rgb(17 17 17 / 84%);
        transition: all 0.5s ease;
      }
    }
  }
.image-card-component{
    margin: 20px;
}
.health-food{
    width: 50%;
    height: 40vh;
    background-image: url('../images/blog_list_page\ img/Mask Group (9).png');
    background-size: cover;
    object-fit: cover;
}
.text-center-title{
    position: relative;
    bottom: 390px;
    font-size: 30px;
    color: #ffffff;
    font-weight: bold;
}

.title-num{
    display: flex;
    justify-content: center;
    list-style: none;
    align-items: center;
    gap: 60px;
}
.title-num li{
    text-decoration: none;
    border: 2px solid #000;
    padding: 20px 20px;
    border-radius: 15px;
    font-weight: bold;
    transition: 0.3s ease;
}
.title-num li:hover{
    background-color: #000;
    color: #fff;
}
.text-center-img{
    position: relative;
    bottom: 480px;
}
.eat{
    width: 100%;
    height: 50vh;
    background-image: url('../images/blog_list_page\ img/Mask Group (11).png');
    background-size: cover;
    background-position: center;
    position: relative;
    bottom: 300px;
    text-align: center;
    padding:120px ;
}
.footer{
    display: flex;
    justify-content: space-around;
    position: relative;
    padding: 0 30px;
    bottom: 150px;
<<<<<<< Updated upstream
=======
    font-weight: bold;
    border-bottom: 1px solid #000;
    padding: 20px;
>>>>>>> Stashed changes
}
.footer ul{
    display: flex;
    justify-content: center;
    width: 50%;
    gap: 50px;
<<<<<<< Updated upstream
=======
    font-weight: bold;
>>>>>>> Stashed changes
}
.footer ul li a{
    color: #000;
    text-decoration: none;
}
.end{
<<<<<<< Updated upstream
    border-top: 2px solid #000;
=======
  position: relative;
  bottom: 50px;
>>>>>>> Stashed changes
}
/* ====== RESPONSIVE ==== */
@media screen and (max-width:1007px) {
    .icons{
       width: 10%;
    }
    
}
@media screen and (max-width:1007px) {
    .icons{
       width: 10%;
    }
    
}
@media screen and (max-width: 1264px) {
    .icons{
        position: relative;
        left: 120px;
    }
    
}
@media screen and (max-width: 1136px) {
    .icons{
        position: relative;
        left: 90px;
    }
    
}

@media screen and (max-width: 1076px) {
    .icons{
        position: relative;
        left: 60px;
    }
    
}

@media screen and (max-width: 1015px) {
    .icons{
        position: relative;
        left: 40px;
    }
    
}

@media screen and (max-width: 991px) {
    .icons{
        position: relative;
        left: 10px;
    }
    
}

@media screen and (max-width: 777px) {
    .eat h1, p{
        display: none;


    }
    
}

  
@media screen and (max-width: 991px) {
    .image-card-component {
      flex-direction: column;
      margin: 20px 16px;
  
      .image {
        height: 240px;
        width: 100%;
        border-radius: 8px 8px 0 0;
      }
      .image-1 {
        height: 240px;
        width: 100%;
        border-radius: 8px 8px 0 0;
      }
      .image-2 {
        height: 240px;
        width: 100%;
        border-radius: 8px 8px 0 0;
      }

  
      .content {
        flex-direction: column;
  
        .content-text {
          margin: auto;
          text-align: center;
        }
  
        .cta {
          margin: 25px auto 0;
          width: 60%;
        }
  
        h4 {
          margin-bottom: 20px;
          font-size: 24px;
        }
      }
    }
}
@media screen and (max-width:331px) {
    .text-center-img{
        position: relative;
        right: 20px;
    }
<<<<<<< Updated upstream
=======
    .footer{
      display: none;
    }
>>>>>>> Stashed changes
    
}
@media (max-width: 922px) and (min-width: 601px) {
    .title-num{
        display: grid;
<<<<<<< Updated upstream
        grid-template-columns: repeat(1, 1fr);
=======
        grid-template-columns: repeat(200px, 1fr);
    }
    .footer{
      display: none;
>>>>>>> Stashed changes
    }
    .text-center-img{
        display: none;
    }
<<<<<<< Updated upstream
=======
    .search-1{
      display: none;
    }
    .footer {
      display: none;
    }
>>>>>>> Stashed changes
  }
  @media (max-width: 600px) {
    .title-num{
        flex-direction: column;
    }
<<<<<<< Updated upstream
=======
    .footer{
      display: none;
    }
>>>>>>> Stashed changes
    .text-center-img{
        display: none;
    }
  }
  @media (max-width: 923px) {
    .eat{
        flex-direction: column;
        position: relative;
        top: 30px;
    }
}